@import "https://cdn.jsdelivr.net/nmp/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css";
:root{
    --dark:#2e244e;
    --lighter: #02a9a4;
    --background:#d5e9e9;
    --text:#10072c;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
main{
    margin: 0;
    padding: 0;
    position: relative;
}

.navb{
    background-color: #fff;
    box-shadow: 1px 5px 10px rgba(0,0,0,0.15);
}

 .header{
     position: fixed;
     width: 100%;
     z-index: 1;
 }


.home-logo{
    width: 7rem;
    height: 2.5rem;
}
.navbar-toggler{
    border: 0;
}
.navbar-toggler:defined,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus{
    outline: none;
    box-shadow: none;
    border: 0;
}

/* home-section */
 .home-section{
    position: relative;
    background:url("images/candid-shot-casually-dressed-professional-woman-psychotherapist-her-fifties-touching-her-young-male-patient-by-shoulder-while-having-counseling-session-expressing-sympathy-support.jpg") no-repeat center center;
    background-size: cover;
    height: 100vh;
    padding-top: 5rem;
 }

 .home-section::before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: 0.5;
    background-color: #000;
    
 }
 .home-img {
    min-width: 50%;
    max-width: 75%;
 }
    
/* About section */
.about-section{
    padding-top: 3rem;
}

.about-text{
    padding-left: 10%;
    padding-right: 10%;
}

.vision-mission-head{
    color: var(--lighter);
}
.vision-mission-text{
    
    padding-right: 10%;
    padding-left: 10%;
}
/* our team section */

.team-title{
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
    color: var(--dark);
}
.team-img{
    width: 10rem;
    height: 13rem;
    border: solid var(--background);
    border-radius: 1rem;
    
}
.team-section{
    padding-top: 3rem;
    background-color: var(--background);
}
.line{
    border: solid var(--lighter);
    
}

/* FOOTER SECTION */
#fooame{
    color: var(--text);
    margin-top: 0.3rem;
    font-weight: bold;
}

/* service sections */
.service-section{
    padding-top: 1.2rem;
}

.services{
    background: #fff;
    text-align: center;
}
.services h1{
    display: inline-block;
    border-bottom: 4px solid #fff;
    font-size: 2rem;
    padding-bottom: 10px;
    margin-top: 40px;
    color: var(--dark);
}
.cen{
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: 20px;
}
.service{
   
    margin: 0 -2px;
    padding: 20px;
    box-sizing: border-box;
    cursor: pointer;
    transition: 0.4s;
}

.service i{
    color: var(--lighter);
    font-size: 33px;
    margin-bottom: 30px;
}
.service h2{
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
    margin: 0;
}


body{
    margin: 0;
    padding: 0;
}
/* MAIN SECTION */

/* CONTAT SECTION */
.contact-section{
    position: relative;
    top: 3rem;
    background-color: var(--background);
    padding-top: 2.5rem;
}
.text1{
    
    font-weight: bolder;
}
#card {
    margin: 10px;
    border: none;
    outline: none;
    background-color: #fff;
    background-color: #fff;
    border-radius: 20px;
    box-shadow:   6px 6px 10px -1px rgba(0,0,0,0.15); 
                
}
#card1{
    margin: 10px;
    border: none;
    outline: none;
    background-color: #fff;
    background-color: #fff;
    border-radius: 20px;
    box-shadow:  6px 6px 10px -1px rgba(0,0,0,0.15); 
                
}
#card2{
    margin: 10px; 
    border: none;
    outline: none;
    background-color: #fff;
    background-color: #fff;
    border-radius: 20px;
    transition: transform .3s;
    box-shadow:  6px 6px 10px -1px rgba(0,0,0,0.15); 
                
}
#card:hover,#card1:hover,#card2:hover{
    transform: translate(-15px);
    transition: transform .3s;
    box-shadow: 6px 6px 10px -1px rgba(2, 169, 164, 1);
}
/* FOOTER SECTION */
#footer{
    width: 100%;
    height: 30vh;
    display: flex;
    align-items: center;
    
}
.footer-links{
    color: #fff;
    font-size: 1.5rem;
    
}
.footer-section{
    
   
    background-color:rgba(2, 169, 164, 1);
}
.copyright{
    font-size: 0.8rem;
    margin-top: 5rem;
    color: var(--background);
}